page-home {

    ion-icon {
        margin: 40%;
        display: block;
        text-align: center;
        font-size: 25rem;
        margin: 0 auto;
        margin-top: 40%;
    }
}

.back{
    background-color:whitesmoke;
}