page-events {

    img {
        margin: 0 auto;
        margin-top: .3rem;
        margin-bottom: 1.3rem;
        display: block;
        max-width: 80%;
    }

    ion-card-title {
        text-align: center;
    }

    p {
        
        text-align: justify;
    }
}
